<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .filed {
            margin-top: 1rem;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="filed"><strong>From: </strong> Ahmed Ali</div>
        <div class="filed"><strong>Email: </strong> example@gmail.com</div>
        <div class="filed"><strong>Phone: </strong> 07801234567</div>
        <div class="filed"><strong>Subject: </strong> Website Design</div>
        <div class="filed"><strong>From: </strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
            sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
    </div>
</body>

</html>